<div>
  <h2>Customer Data from Firebase</h2>

  <!-- Form thêm khách hàng mới -->
  <div>
    <input [(ngModel)]="newCustomer.customer_name" placeholder="Name" />
    <input [(ngModel)]="newCustomer.customer_email" type="email" placeholder="Email" />
    <input [(ngModel)]="newCustomer.phone_number" placeholder="Phone Number" />
    <input [(ngModel)]="newCustomer.customer_username" placeholder="Username" />
    <button (click)="addCustomer()">Add Customer</button>
  </div>

  <div *ngIf="selectedCustomer">
    <h3>Update Customer:</h3>
    <input [(ngModel)]="newCustomer.customer_name" placeholder="Name" />
    <input [(ngModel)]="newCustomer.phone_number" placeholder="Phone Number" />
    <button (click)="updateCustomer()">Update Customer</button>
  </div>

  <!-- Hiển thị dữ liệu khách hàng -->
  <div *ngIf="customersData">
    <h3>All Customers:</h3>
    <ul>
      <li *ngFor="let customer of customersData" (click)="selectCustomer(customer)">
        <strong>Name:</strong> {{ customer.customer_name }} <br>
        <strong>Email:</strong> {{ customer.customer_email }} <br>
        <strong>Phone:</strong> {{ customer.phone_number }} <br>
        <strong>Role:</strong> {{ customer.role }} <br>
        <button (click)="updateCustomer()">Update</button>
      </li>
    </ul>
  </div>
</div>
