<aside class="sidebar">
  <ul class="menu">
    <li><a routerLink="/role-management" routerLinkActive="active">Role Management</a></li>
    <li><a routerLink="/product-management" routerLinkActive="active">Product Management</a></li>
    <li><a routerLink="/order" routerLinkActive="active">Order Management</a></li>
    <li><a routerLink="/voucher-management" routerLinkActive="active">Voucher Management</a></li>
    <li><a routerLink="/blogs" routerLinkActive="active">Blog Management</a></li>
    <li><a routerLink="/promotion-management" routerLinkActive="active">Promotion Management</a></li>
    <li><a routerLink="/flashsale" routerLinkActive="active">Flashsale Management</a></li>
    <li><a routerLink="chat" routerLinkActive="active">Chats</a></li>
    <li><a routerLink="report" routerLinkActive="active">Reports</a></li>
  </ul>
</aside>